<% provide(:title, 'New List') %>
<% provide(:button_text, 'Create List') %>
<% provide(:form_url, lists_path) %>
<h1>New List</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/form' %>
  </div>
</div>
