<div class="center jumbotron">
  <h1>Grocerist!</h1>

  <h2>
    Welcome to Grocerist, where our primary mission is to prevent the toilet paper from running out, again.
  </h2>

  <p>If you're new, <%= link_to "sign up now", new_user_registration_path %> and create your list.</p>
</div>
