@import "bootstrap-sprockets";
@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$border-color-btn:#099;

/* Debugging */
* {
  border: 1px dashed blue;
} 

div {
  border: 1px dashed red;
} 

/* Construction */

img.construction{
  display: block;
  margin: 20px auto;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left; 
      margin-left: 15px;
    }
  }
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Button style */

.btn {

  &:hover{
    box-shadow: 0 0 0 1pt $border-color-btn; 
  }
}

/* Items */

li.list-item {
  span.item-info {
    padding: 5px;
    border-left: 1px dashed gray;
  }

  span.item-name {
    font-size: 1.5em;
  }
}

.btn-delete {
  display: none; 
  img {
  }
}

.btn-delete-mode {
  margin-top: -4px;
  margin-bottom: 4px;
}
