<p>Hello from Grocerist, <%= @resource.username %>!</p>

<p>
Please click the link below to confirm that this e-mail address is yours and start using Grocerist.
</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
You are receiving this e-mail because someone used the address <%= @email %> for a Grocerist account.  If this wasn't you, you can ignore this e-mail.
</p>
