<footer class="footer">
  <small>
    Grocerly, by <a href="https://github.com/justin-capalbo/">Justin Capalbo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact",        contact_path %></li>
      <li><%= link_to "About Grocerly", about_path %></li>
    </ul>
  </nav>
</footer>
