<!DOCTYPE html>
<html>
  <head>
    <title>Grocerly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag 'http://www.donotenter.com/cool/ucgraphics/animated/uc_anim03.gif' %>
    <!--%= yield %-->
  </body>
</html>
